/*Media Query*/

@media (max-width: 992px) {
    /*HEADER*/
}

@media (max-width: 768px) {
    /*HEADER*/
    .soffice img {
        width: 20% !important;
    }
}

@media (max-width: 576px) {
    /*HEADER	*/
    .navbar .LOGO {
        width: 200px;
    }
    .navbar .nav-link a {
        font-size: 13px !important;
    }
}


/* fix cho class container man hinh full hd 1920x1080 */

@media (min-width: 1200px) {
    .container {
        max-width: 85%;
    }
}

/* fix cho khoi div ben phai trong cac muc tin tuc fix khi scroll chuoi */
@media (min-width: 768px){
	.fixed_scroll_right{
		position: sticky;
	}
}
