/*All*/
body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}


/*Header*/

.header {
    background-color: #000066c9;
    border-bottom: 2px solid #D68528;
}



/* .navbar .nav-link {
    color: black !important;
} */

.navbar .nav-link:hover {
    color: black;
}

.navbar .dropdown-item {
    color: black;
    /*border-bottom: 1px solid #b8b894;*/
}

.navbar .dropdown-item:hover {
    /* background-color: rgba(0, 0, 77, 0.9); */
    color: #02113d;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}


/*Carousel*/

.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-caption h1 {
    text-shadow: 0.5px 0.5px 0.5px #000 !important;
}


/*Content*/

.content a {
    color: #212529;
}

.headline {
    border-bottom: 3px solid #00004d;
}

.headline h6 {
    background: rgb(0, 0, 77);
    border-radius: 0 20px 0 0;
    color: white !important;
}

.crop_text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.crop_text_4 {
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop_text_3 {
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* tin tức */

a {
    color: #2c2c2c;
}

a:hover {
    color: rgb(2, 139, 255);
}

.head {
    border-bottom: 4px solid #000066;
}
.navbar .LOGO {
    width: 400px;
}

.banner_inside {
    background: rgba(0, 0, 77, 0.9);
    border-radius: 5px 5px 0 0;
}

.thsx_kd_info td {
    padding: 0;
}

.thsx_kn_info td {
    padding: 0;
}

footer {
    border-top: 10px solid #00004d;
    border-bottom: 10px solid #00004d;
}


/*button top*/

a.on_top {
    opacity: 0.6;
    display: none;
}

a.on_top:hover {
    background-color: #007bb6;
    color: #fff;
    border: 1px solid #007bb6;
    opacity: 1;
}

a.on_top i {
    font-size: 20px;
}

a.on_top {
    border-radius: 6px;
    background-color: #333333;
    padding: 10px 15px;
    white-space: nowrap;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 15px;
    height: 40px;
    z-index: 100;
}


/*QHCD*/

.submit-ykien {
    background-color: #d6e0f5;
}


/*CAROUSEL*/

.carousel-caption h1 {
    font-size: 20px;
}

.font_title {
    font-size: 15px;
    line-height: 1.2rem;
}

.crop_text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.soffice img {
    width: 40% !important;
}


/*---trang menu QHCD---*/

.QHCD .head h4 {
    font-size: 1.2rem;
}

.QHCD_breadcrumb li {
    font-size: 1rem;
}

.QHCD .head {
    border-bottom: 4px solid #000066;
}

.QHCD .scroll {
    height: 20rem;
    overflow: auto;
}

.title_cbtt {
    background-color: #e9ecef;
}


